
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, body {
    height: 100%;
}

body { 
    font-family: 'Inter', -apple-system, sans-serif; 
    background-color: #f4f7f6; 
    color: #333; 
    padding: 0; 
    display: flex;         /* Habilita o Flexbox */
    flex-direction: column;
}

main {
    padding: 40px 20px;    
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    flex: 1;               
    flex-direction: column;
    gap: 20px
}


nav {
    background-color: #2c3e50; 
    padding: 1rem 2rem;
    display: flex;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
    color: white !important; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #3498db !important;
}


table {
    width: 100%;
    border-collapse: collapse; 
    background: white;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: none; 
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #edf2f7;
}

th {
    background-color: #34495e;
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    font-weight: 600;
}

tr:hover {
    background-color: #f8fafc;
}


.form-control, input, textarea, select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus, select:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}


button{
    padding: 5px 10px;
    background-color: #d5d5d5;
    color: rgb(11, 11, 11);
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #0e0e0e;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #afc5fd;
}

.btn-ver { color: #3498db; margin-right: 10px; }
.btn-remover { color: #dc3545 !important; }
.btn-remover:hover { color: #a71d2a !important; text-decoration: underline; }


.error-message, .errorlist {
    color: #dc3545;
    font-size: 0.875em;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

input.is-invalid {
    border-color: #dc3545 !important;
}

.site-footer {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    width: 100%;
}