{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Usuários</h2>
    <a href="{% url 'cadastrar_usuario' %}">Cadastrar Novo Usuário</a>
    
    <ul>
    {% for usuario in usuarios %}
        <li>
            {{ usuario.nome_completo }} - {{ usuario.email }} 
            <a href="{% url 'perfil_usuario' usuario.id %}">Ver Perfil</a>
            <a href="{% url 'excluir_usuario' usuario.id %}">Remover</a>
        </li>
    {% empty %}
        <li>Nenhum usuário cadastrado.</li>
    {% endfor %}
    </ul>
{% endblock %}